.header__title {
  text-align: center;
  font-size: 50px;
}
.list {
  padding: 10px;
  border: solid rgba(11, 11, 11, 0.08) 2px;
  border-radius: 0.8rem;
  background-color: rgb(91, 203, 220);
}
.main {
  display: flex;
  flex-direction: column;
}
.section {
  display: flex;
  flex-direction: row;
}
.ul {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  gap: 10px;
  text-decoration: none;
  list-style: none;
}
.div-list {
  width: 70%;
}
.new {
  display: flex;
  flex-direction: column;
}
.new-contact__form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #e1fcff, #d3bef9);
  display: grid;
  -webkit-font-smoothing: antialiased;
  color: #2b1651;
  &:after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: linear-gradient(
      to bottom,
      #d3bef9 120px,
      transparent 120px,
      transparent 125px,
      #d3bef9 125px,
      #d3bef9 220px,
      transparent 220px,
      transparent 230px,
      #d3bef9 230px,
      #d3bef9 300px,
      transparent 300px,
      transparent 315px,
      #d3bef9 315px,
      #d3bef9 400px,
      transparent 400px,
      transparent 420px,
      #d3bef9 420px,
      #d3bef9 460px,
      transparent 500px
    );
    left: calc(50% - 250px);
    top: calc(50% - 250px);
    z-index: -1;
  }
}

.card__title {
  font-family: 'Chango', cursive;
  text-align: center;
  font-size: 24px;
  margin-top: 40px;
  text-shadow: 1px 1px 1px #fff;
}
.card-container {
  display: flex;
  text-decoration: none;

  padding: 20px;
}

.card {
  background: #fff;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-in-out;
  opacity: 0.8;
  text-decoration: none;
  h5 {
    font-size: 16px;
    margin-top: 8px;
    font-family: 'Chango', cursive;
  }
  &:hover {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.55);
    color: #212121;
    opacity: 1;
  }
}

.translate {
  &:hover {
    transform: translate(0, -3px);
  }
}
